
.Rproj.user/B3B81A3A/sources/prop/A0DEFB8F
.Rproj.user/B3B81A3A/sources/prop/INDEX
.Rproj.user/B3B81A3A/sources/session-4a79483f/9B5F661A
.Rproj.user/B3B81A3A/sources/session-4a79483f/9B5F661A-contents
.Rproj.user
